/* giving the container a bit more space */
@media(min-width:1200px) {
  .container {
    width: 1250px !important;
  }
}
.list-group-item-text {
  display: flex;
}
/* this should target the label of the prices i.e.: AH Price */
.list-group-item-text > * {
  flex: 2;
  font-weight: 600;
  display: flex;
  flex-direction: column;
}
/* sets the rank field to have less of a flex so it doesn't push items to the next line */
.list-group-item-text > *:first-child{
  flex: 1;
}
/* this should target the prices of the items, i.e. 32g 14s 21c */
.list-group-item-text > * > *:first-child {
  font-weight: 100;
}
/* gives a bottom border to the list item */
.list-group-item.list-group-item-danger {
  border-bottom: 3px solid #a94442; /* #f2dede*/
}
/* gives bottom border to the list item */
.list-group-item.list-group-item-success {
  border-bottom: 3px solid #3c763d; /* #dff0d8*/
}
/* is the color for the gold letter */
.prices-gold{
  color: #CAAA00;
  margin-right: 3px;
}
/* is the color for the silver letter */
.prices-silver{
  color: #777;
  margin-right: 3px;
}
/* is the color for the copper letter */
.prices-copper{
  color: #B87333;
}